/******** Universal ********/

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    position: relative;
}

/******** Header ********/
header {
    position: fixed;
    width: 100%;
    z-index: 599;
}

@media (min-width: 768px) {
    header {
        position: static;
    }
}

#header-main {
    background-image: linear-gradient(90deg, #000099, #2222aa, #4444bb, #6666cc, #8888dd, #aaaaee, #ccccff, #eeeeff);
    height: 3.5rem;
    font-size: 3.5rem;
    display: flex;
    align-items: center;
    position: relative;
}

@media (min-width: 768px) {
    #header-main {
        height: 7.5rem;
        font-size: 7.5rem;
    }
}

#logo {
    font-size: 60%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    #logo {
        margin: 0;
        margin-left: 5%;
    }
}

#logo a{
    font-family: "Indie Flower", cursive;
    color: #eeeeff;
    text-decoration: none;
    padding: inherit 0;
    text-shadow: 0px 2px #000;
}

#nav-icon {
    width: 2rem;
    height: 40%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
}
.line {
    height: .25rem;
    background-color: #eeeeff;  
}
.second-line {
    width: 50%;
}
.third-line {
    width: 25%;
}

@media (min-width: 768px) {
    #nav-icon {
        display: none;
    }
}

#button-exit {
    position: relative;
    padding: 1rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
}
.cross-line {
    position: absolute;
    background-color: #000;
    width: .25rem;
    height: 2rem;
    transform-origin: center;
}
.cross-line-left {
    transform: rotate(45deg);
}

.cross-line-right {
    transform: rotate(-45deg);
}

.nav-open {
    background-color: #c0c0c0;
    width: 100%;
    height: 60%;
    top: 0;
    position: fixed;
    overflow: scroll;
}

.popup-item {
    text-align: center;
}

.popup-item a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 5% 0;
    border-bottom: 1px solid #909090;
    margin: 0 1rem;
}

#nav-main {
    display: none;
}

/* Desktop */
@media (min-width: 768px) {

    #nav-main {
        background-color: #c0c0c0;
        display: block;
        text-align: center;
        padding: 1rem 0;
        position: sticky;
        top: 0;
        z-index: 5999;
    }
    #nav-main ul {
        display: flex;
        justify-content: flex-end;
        
    }
    #nav-main li {
        display: block;
    }

    #nav-main a {
        padding: 1rem 3rem;
    }
}

.current-page-mark {
    background-color: #909090;
}


/******** Main ********/

main {
    position: relative;
    top: 3.5rem;
    line-height: 2rem;
    display: flex;
}

.project-main {
    display: block;
}

@media (min-width: 768px) {
    main {
        top: 0;
    }
}

main p {
    padding: 1rem 0;
}

#side-nav-bar{
    display: none;
}

@media (min-width: 768px) {
    #side-nav-bar {
        background-color: #c0c0c0;
        display: inline-block;
        position: relative;
        height: 40vh;
        padding: 2rem 2rem;
        margin: 2rem 0 2rem 2rem;
        border-top: 3px solid #f0f0f0;
        border-left: 3px solid #f0f0f0;
        border-right: 3px solid #808080;
        border-bottom: 3px solid #808080;
    }

    #side-nav-bar h2 {
        padding: 1rem 0;
    }
    #side-nav-bar ul {
        list-style: none;
    }
    #side-nav-bar a {
        text-decoration: none;
    }
    #side-nav-bar a:hover {
        text-decoration: underline;
    }
}

#main-content {
    margin: 0 1rem;
}
@media (min-width: 768px) {
    #main-content {
        margin: 2rem 3rem;
    }
}

summary {
    font-weight: bold;
    font-size: 1.5rem;
    border-bottom: 1px solid #c0c0c0;
    padding: 1rem 0;
}

.section-title {
    padding: 1rem 0;
}

@media (min-width: 768px) {
    .section-title {
        background-color: #1900e0;
        color: #ffffff;
        padding-left: 12px;
        border: 3px solid;
        border-top-color: #7b7b7b;
        border-left-color: #7b7b7b;
        border-bottom-color: #373737;
        border-right-color: #373737;
    }
}

.desktop-section {
    display: none;
}

@media (min-width: 768px) {
    .mobile-section {
        display: none;
    }

    .desktop-section {
        display: block;
    }
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 5% 0;
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

.grid-item {
    text-align: center;
    position: relative;
}

@media (min-width: 768px) {
    .grid-item {
        margin: 12px;
    }
}

.grid-item figure {
    position: relative;
}

.grid-item img {
    width: 100%;
    vertical-align: middle;
}

.grid-item figcaption {
    font-size: 1.5rem;
    background-color: #c0c0c0;
    position: absolute;
    bottom: 0;
    z-index: 3;
    width: 100%;
}

.img-overlay {
    background-color: #00000088;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.overlay {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 4;
    transition: background-color 750ms;
}

.overlay:hover {
    background-color: #0000ff55;
}


